@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, wireframe;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #007bff;
  --color-secondary: #214353;
}

@theme {
  --color-primary: #007bff;
  --color-secondary: #214353;
  --color-bg-accent: #f8f9fa;
  --color-writing: #333333;
}
